/*----------
    RESET
----------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.debug{
    background-color: #FF6900;
}
/*----------
    TYPO
----------*/
body{
    font-family: 'Roboto', sans-serif;
}
main{
    display: inline-block;
}
a{
    color: white;
}
li{ 
    display: inline-block;
}
#red{
    color: red;
}
/*----------
    HEADER
----------*/
header{
    padding: 16px 0;
    background-color: #FF6900;
    color: white;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}
.logo{
    display: inline;
    height: 40px;
    padding-right: 200px;
}
i{
    padding-left: 10px;
}
/*----------
    BODY    
----------*/
.col {
    margin: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.hover{
    display: none;
 
}
.box:hover .hover{
    display: block;
}
.box:hover .default{
    display: none;
}
.box{
    width: calc(33.33%);
}

img{
    width: calc(95%)
}
p{
    padding-bottom: 50px;
    display: inline-block;
}