/*----------
    RESET
----------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.debug{
    background-color: #FF6900;
}
/*----------
    TYPO
----------*/
body{
    font-family: 'Roboto', sans-serif;
}
main{
    display: inline-block;
}
a{
    color: white;
}
li{ 
    display: inline-block;
}
#red{
    color: red;
}
/*----------
    HEADER
----------*/
header{
    padding: 16px 0;
    background-color: #FF6900;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}
.logo{
    display: inline;
    height: 40px;
    padding-right: 200px;
}
i{
    padding-left: 10px;
}
/*----------
    BODY    
----------*/
.col {
    margin: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.hover{
    display: none;
 
}
.box:hover .hover{
    display: block;
}
.box:hover .default{
    display: none;
}
.box{
    width: calc(33.33%);
}
img{
    width: calc(95%);
}
#sale{
    background-color: red;
    color: white;
    position: absolute;
    width: 50px;
    height: 25px;
    top: 700px;
    z-index: 1;
}
#sostenibile{
    background-color: green;
    color: white;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 700px;
    left: 70px;
    z-index: 100;
}
#sale1{
    background-color: red;
    color: white;
    position: absolute;
    width: 50px;
    height: 25px;
    top: 1700px;
    z-index: 100;
}
#sostenibile1{
    background-color: green;
    color: white;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 1700px;
    left: 70px;
    z-index: 100;
}
#sostenibile2{
    background-color: green;
    color: white;
    position: absolute;
    width: 100px;
    height: 25px;
    top: 1700px;
    left: 1270px;
    z-index: 100;
}
#heart1{
    background-color: grey;
    color: black;
    font-size: xx-large;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    left: 550px;
    z-index: 1;
}
#heart2{
    background-color: grey;
    color: black;
    font-size: xx-large;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 150px;
    left: 1180px;
    z-index: 1;
}
#heart3{
    background-color: grey;
    color: black;
    position: absolute;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    top: 150px;
    left: 1800px;
    z-index: 1;
}
#heart4{
    background-color: grey;
    color: black;
    font-size: xx-large;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 1100px;
    left: 550px;
    z-index: 1;
}
#heart5{
    background-color: grey;
    color: black;
    position: absolute;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    top: 1100px;
    left: 1180px;
    z-index: 1;
}
#heart6{
    background-color: grey;
    color: black;
    position: absolute;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    top: 1100px;
    left: 1800px;
    z-index: 1;
}
p{
    padding-bottom: 50px;
    display: inline-block;
}